@import url("https://fonts.googleapis.com/css?family=Baloo+Paaji|Open+Sans:300,300i,400,400i,600,600i,700,700i");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
  outline: none;
  border: none;
  font-family: "Open Sans", "Ubuntu";
}

:root {
  --dark-1: #1b1e26;
  --dark-2: #20232b;
  --dark-3: #272c39;
  --gray-1: #4c515c;
  --primary: #5294e2;
  --text-color: #f1f1f1;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.no-drag {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  color: currentColor;
}

body {
  background-color: var(--dark-1);
  color: var(--text-color);
  overflow-x: hidden;
}

main {
  margin-top: 3.5rem;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--gray-1);
}

::-webkit-scrollbar-thumb {
  background: var(--dark-3);
  cursor: default;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--dark-3);
}

.scr::-webkit-scrollbar {
  width: 3px;
}

#mobile-burger:hover span {
  background-color: var(--primary);
}

.services-list li {
  list-style: inside;
}
